   body {
       background-color: #AEC6CF;
   }
   *{
    box-sizing: border-box;
   }

   #photo {
       width: 50px;
   }

   .card {
       background-color: white;
       width: 30vw;
       min-height: 70vh;
       padding: 20px;
       margin: 200px auto;
       border: 1px solid #ddd;
       box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
       text-align: center;
       border-radius: 6px;
       text-align: left;

   }

   #photo {
       width: 100%;
       height: 200px;
   }

   .button {
       border: none;
       padding: 10px 18px;
       background-color: #3b82f6;
       color: white;
       border-radius: 20px;
       cursor: pointer;
       font-size: 14px;
       display: inline;
       margin: auto;


   }

   h2 {
       color: grey;
   }

   #rm {
       background-color: cornflowerblue;
       color: white;
       border: none;
       padding: 10px 18px;
       border-radius: 20px;
       margin-left: 180px;
       cursor: pointer;
       height: 50px;
       margin-top: 20px auto 0;
       max-width: 100%;
       width: fit-content;
       display: block;
   }
   @media (max-width: 600px) {
  .card {
    width: 90%;
    padding: 14px;
  }

  .card-btn {
    width: 100%;
    text-align: center;
  }